.layout {
    width: 100vw;
    height: 100vh;
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
    overflow: hidden;
  }
  
  .layout-container {
    display: flex;
    width: 100%;
    height: 100%;
  }
  